<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SimpleFramework">
  <test name="AutomationFramewokr">
    <classes>
      <class name="AutomationFramework_Selenium.OrangeHRM_Test"/>
    </classes>
  </test> <!-- AutomationFramewokr -->
</suite> <!-- SimpleFramework -->
